.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.result{
    display: flex;
    justify-content: center;
    margin: 5em 20em 0 20em;
    padding: 5em;
}

#component-1{
    background-color: hsl(248, 41%, 47%);
    border-radius: 2em;
    color: white;
    align-items: center;
    width: 50%;
}
#score{
    background-color: hsl(249, 40%, 40%);
    border-radius: 1em;
}
#component-2{
    background-color: rgb(255, 253, 253);
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 5px 5px 1em  rgb(83, 79, 79);
    border-radius: 2em;
    width: 50%;
}

#continue{
    background-color: hsl(248, 41%, 47%);
    border-radius: 2em;
    padding: 1em 0 1em 0;
    margin: 2em;
}

#continue a{
    color: white;
    text-decoration: none;
    margin: 7.5em;
    font-weight: bold;
}
.subjects{
    display: flex;
}
