.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: rgb(219, 219, 239);
}
body p{
    font-size: 18px;
}
.result{
    display: flex;
    justify-content: center;
    /* display: grid;
    grid-template-columns: 50% 50%;
    margin: 5em 20em 0 20em; */
    padding: 5em;
}

#component-1{
    background-color: hsl(248, 41%, 47%);
    border-radius: 2em;
    color: white;
    margin: 0 auto;
    padding: 0 3em;
    position: relative;
    left: 2em;
    right: 5em;
}
#component-2{
    background-color: rgb(255, 253, 253);
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 5px 5px 1em  rgb(83, 79, 79);
    border-radius: 2em;
    padding: 0 3em;
    position: relative;
    right: 15em;
}

#component-1 h3, #component-1 h2, #component-1 p{
    margin: 0 auto;
    padding: 1em 0 3em 3em;
}
#score{
    background-color: rgba(42, 15, 116, 0.5);
    border-radius: 100%;
    margin: 0 auto;
    padding-bottom: 2em;
    width: 200px;
    height: 170px;
}
#score h1{
    font-size: 4em;
    padding: 0 1em;
}
#score p{
    padding: 0 3em;
}


#continue{
    background-color: hsl(249, 58%, 9%);
    border-radius: 2em;
    padding: 1em 0 1em 0;
    margin: 2em;
}
#continue:active{
    background-color: hsl(248, 41%, 47%);
}

#continue a{
    color: white;
    text-decoration: none;
    margin: 7.5em;
    font-weight: bold;
}
.subjects{
    display: flex;
    margin: 1em;
}
.subjects p{
    display: flex;
    justify-content: flex-end;
}
.subjects h4{
    display: flex;
    justify-content: flex-start;
}

#reaction h4{
    color: rgb(232, 63, 63);
}
#reaction{
    background-color: rgba(240, 184, 184, 0.9);
    border-radius: 1em;
}
#memory h4{
    color: rgb(179, 170, 49);
}
#memory{
    background-color: rgb(245, 237, 188);
    border-radius: 1em;
}
#verbal h4{
    color: rgba(79, 170, 70, 0.9);
}
#verbal{
    background-color: rgba(189, 240, 184, 0.9);
    border-radius: 1em;
}
#visual h4{
    color: hsl(234, 85%, 45%);
}
#visual{
    background-color: rgba(184, 220, 240, 0.9);
    border-radius: 1em;
}


/*CSS rule for phones*/
@media only screen and (max-width: 375px) {
    body{
        display: grid;
        grid-template-columns: 100%;
    } 
    .result{
        display: grid;
        grid-template-rows: 50% 50%;  
        margin: 0;
        padding: 0;
        width: 375px;
    }
    .attribution{
        display: flex;
        align-items: center;
    }
    #component-1{
        border-radius: 0 0 2em 2em;
        position: relative;
        top: 1em;
        padding: 0 1.5em;
        left: 0;
        right: 0;
    }
    #component-2{
        border-radius: 0;
        padding: 0 0 6em 0;
        right: 0;
    }
    
}  
@media only screen and (min-width: 576px) and (max-width: 768px) {
    #component-1{
        position: relative;
        left: 2em;
        right: 5em;
    }
    #component-2{
        position: relative;
        right: 15em;
    }
}
